.main {
  text-align: center;
  border: 0px solid lightblue;
  height: 100vh;
}

.container {
  padding-top: .69rem;
}

.moveBox {
  padding: 1.5rem;
  border: 0px solid lightblue;
  position: absolute;
  width: 20em;
  height: 100vh;
  right: 0;
  top: 0;
  text-align: left;
}

.boxTitle {
  font-size: 2rem;
}

.articlesDisplay {
  border: 0px solid lightblue;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  margin: 2em 0;
  padding: 0 1em;
  width: 80em;
}

.post {
  width: 20rem;
  height: 18rem;
  border: 0px solid lightblue;
}

@media screen and (max-width: 1069px) {
  .moveBox {
    width: 100%;
    height: auto;
    position: static;
  }

  .articlesDisplay {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .post {
    width: 100%;
  }
}

/* 
.boxTitle h1
text-4xl font-bold

.textBox
border border-gray-300 rounded-lg py-4 px-4 text-base font-normal text-slate-950 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent

.button
bg-blue-600 disabled:bg-gray-500 inline-flex items-center justify-center rounded-full py-4 px-10 text-center text-base font-normal text-white-400 hover:bg-opacity-90 lg:px-8 xl:px-10
*/